

.nav {
    grid-area: n;
    background-color: black;
    font-family: Bahnschrift;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.item a {
    color: white;
}
.item a.activeLink {
    color: lightskyblue;
}